# CMSE 201: Quiz 1 (Spring 2024) 

## <p style="text-align: right;"> &#9989; Lowell Monis</p>

## Goals and Instructions

The goal of this quiz is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll reflect on what you know about writing code using Python and showcase some of your new programming skills.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However, the use of any person-to-person communication software is absolutely not acceptable.**

**You cannot use ChatGPT or any other artificial intelligence tool. If you do you get 0 points!!!**

**Do your own work.** This quiz is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. Any violation of academic integrity could result in you receiving a zero on the quiz.

There are a total of **30 points** possible on this quiz and each part of the quiz can be done independently. **If you get stuck _move on to another part of the quiz to earn some points there!_**

![Moira](https://media.giphy.com/media/26gs78HRO8sOuhTkQ/giphy.gif)

---
<a id="toc"></a>

## Table of Contents

[Part 0. Academic Integrity Statement](#part_0) (1 point)

[Part 1. Variables](#part_1)  (5 points)

[Part 2. Lists and Indexing](#part_2)  (4 points)

[Part 3. Elementwise operations via loops](#part_3) (9 points)

[Part 4. Loops and conditional statements](#part_4) (11 points)

In [1]:
points_list = [1, 5, 4, 9, 11 ]

print(f"The total number of points is : {sum(points_list)}")

The total number of points is : 30

---
<a id="part_0"></a>

# Academic integrity statement (1 points)

[Back to Top](#toc)

In the markdown cell below, put your personal academic integrity statement. By including this statement, you are confirming that you are submitting this as your own work and not that of someone else.

<font size=+3>&#9998;</font>

I, `Lowell Paul Monis`, commit to the standard of integrity demanded from me as a Spartan. I recall the Spartan Code of Honor and Ethics, and invoke it within the scope of my own personal invocation of ethics in this declaration. Keeping in mind the blood, sweat, and tears behind my sheer existence on this campus, the joy and encouragement I receive from a succesfull venture, and my firm belief in hard and honest work, I will strive to ensure that all work done in order to fulfill the requirements of this course is my own, bona fide effort, and if I do use any source of information and incorporate it in my work, I will fortify my usage of that source with appropriate attribution. I will stand by this statement on pain of penalty, as the instructor deems fit.

---
<a id="part_1"></a>

# Part 1. Variables (5 points)
[Back to Top](#toc)

In the first cell below, define **two** variables: one holding your name as a string and the other holding the number of how many pets you have, as an **integer**.

In the second cell below, write a print statement (using your two variables defined in the first cell) that prints a complete sentence stating your name and the number you choose. Remember to put spaces.

In [3]:
# define your variables here

my_name = "Lowell Monis"
number_of_pets = 0

In [5]:
# write your print statement here

print("My name is", my_name, "and I have", number_of_pets, "pets.") # I use commas to concatenate strings in the print() function as opposed to + symbols as they automatically add spaces.

My name is Lowell Monis and I have 0 pets.

---
<a id="part_2"></a>

# Part 2. Lists and Indexing (4 points)
[Back to top](#toc)

In the cell below, define a list that holds the names of at least 5 animals, but make it so that the first animal in your list is **dog**. Then, using indices to access the values in your list, write a print statement that prints animals in alphabetic order.

In [7]:
# put your code here

list_of_animals = ["dog", "orangutan", "tiger", "lion", "bear", "dodo"]

print(list_of_animals[4], list_of_animals[5], list_of_animals[0], list_of_animals[3], list_of_animals[1], list_of_animals[2], sep = ", ")

bear, dodo, dog, lion, orangutan, tiger

---
<a id="part_3"></a>

# Part 3. Elementwise operations via loops (9 points): 
[Back to Top](#toc)

You work for a bookstore, specifically helping them figure out how much they need to spend on ordering books. The information is stored in three lists:
- One with the name of the book 
- One with the quantity of that book that they need 
- One with the price of the book 

**Your Boss needs a piece of code that will calculate the total cost of books, so they can make up the budget.**  Your task is to 

- fine the total cost of each book,
- store each total cost into a new list called `total_cost`,
- calculate the sum of the new list `total_cost`
- print the total cost

In [11]:
book_names = ["Trust", "Arcanus", "The Godfather", "Surviving The Forest", "A Game of Thrones", "Deep Learning"]
book_quantity = [20, 50, 40, 60, 90, 45]
book_prices = [8.5, 25.0, 49.1, 18.20, 23, 32.35]

# Put your code here

total_cost = []

for index in range(len(book_names)):
    book_total_cost = book_quantity[index] * book_prices[index]
    total_cost.append(book_total_cost)

sum_cost = 0

for cost in total_cost: # the in-built Python list function sum() could also be used.
    sum_cost += cost

print("The total cost to stock the user-input books is: USD", sum_cost)

The total cost to stock the user-input books is: USD 8001.75

---
<a id="part_4"></a>

# Part 4. Loops and conditional statements (11 points): 
[Back to Top](#toc)

The code below is supposed to assign a person to a category based on this rubric

        Not an adult if the age is less than 18
        An adult below the drinking age if the age is greater or equal to 18 but less than 21
        An adult if the age is greater or equal to 21 
        
In the end, the code stores the category into the list `people_category`. The code will run into an error, try to figure it out and fix it.

In [35]:
people_list = ['Giuseppe', 'Giulia', 'Marco',
                  'Isabella', 'Mario', 'Federica',
                  'Alessandro', 'Valentina', 'Davide',
                  'Eleonora', 'Antonio','Martina', 
                  'Roberto', 'Francesca', 'Lorenzo']

ages_list = [18, 21, 19, 
             25, 46, 16,
             27, 26, 40,
             34, 56, 13,
             16, 27, 42]

people_category = [] 

for index in range(people_list):
    
    age = ages_list[index] 
    
    name = people_list[index]
    
    # PUT HERE YOUR CODE FOR ASSIGNING CATEGORY
    if age < 18:
        cate = "not an adult"
    
    elif age >= 18 and age < 21:
        cate = "an adult below the drinking age"
    
    else:
        cate  = "an adult"
    
    people_category.append( name + " is " + cate )

print(people_category)

TypeError: 'list' object cannot be interpreted as an integer

&#9989;&nbsp; **Part 4.1 (6 points):** In the cell below, answer the following questions

1. The line of code that caused the error(s) (1 point)
2. Where appropriate, the type of error it is (i.e. the error code) (1 point)
3. A plain English description of the error(s) in the code (2 points)
4. How you would solve or do solve the error(s) (2 points)

<font size=+3>&#9998;</font> *Put your answer here.*

1. Line 15

2. TypeError

3. The person who wrote this code attempted to create a range using an entire list of strings, instead of integers between which they want the range. The range() function requires the user to input only integers as arguments.

In [9]:
### 4. Put your solution here

people_list = ['Giuseppe', 'Giulia', 'Marco',
                  'Isabella', 'Mario', 'Federica',
                  'Alessandro', 'Valentina', 'Davide',
                  'Eleonora', 'Antonio','Martina', 
                  'Roberto', 'Francesca', 'Lorenzo']

ages_list = [18, 21, 19, 
             25, 46, 16,
             27, 26, 40,
             34, 56, 13,
             16, 27, 42]

people_category = [] 

for index in range(len(people_list)): # correction made here to add the length of the list, which is an integer and can be passed to range(); probably what the original author intended to do.
    
    age = ages_list[index] 
    
    name = people_list[index]
    
    # PUT HERE YOUR CODE FOR ASSIGNING CATEGORY
    if age < 18:
        cate = "not an adult"
    
    elif age >= 18 and age < 21:
        cate = "an adult below the drinking age"
    
    else:
        cate  = "an adult"
    
    people_category.append( name + " is " + cate )

print(people_category)

['Giuseppe is an adult below the drinking age', 'Giulia is an adult', 'Marco is an adult below the drinking age', 'Isabella is an adult', 'Mario is an adult', 'Federica is not an adult', 'Alessandro is an adult', 'Valentina is an adult', 'Davide is an adult', 'Eleonora is an adult', 'Antonio is an adult', 'Martina is not an adult', 'Roberto is not an adult', 'Francesca is an adult', 'Lorenzo is an adult']

&#9989;&nbsp; **Part 4.2 (5 points):** Answer the following questions in the cell below

1. Is your code "**looping by index**" or "**looping by value**"? (1 point) 
2. Do you think you could you solve the problem using the other kind of `for` loop? Why or why not? (4 points)

<font size=+3>&#9998;</font> *Answer:*

1. The above code is looping by index.
2. No. The above program depends on data from multiple lists. If I was to loop by value, it would be redundant to do so, since I would need the corresponding index anyways to access the corresponding data of the person from the other lists. If the data was in a single list, in the form of nested lists or strings, however, looping by value would make sense and would even by efficient.

---

# Congratulations, you're done!

Submit this quiz by uploading it to the course Desire2Learn web page.  

Go to the **Quizzes** section, find the submission folder link for **Quiz 01**, and upload it there.


![Moira2](https://media.giphy.com/media/d1E2HnwywoTkES08/giphy.gif)

&#169; Copyright 2023,  Department of Computational Mathematics, Science and Engineering at Michigan State University.